<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>forR</servlet-name>
		<servlet-class>edu.uchicago.WANio.forR</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANio</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANioServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>WANcost</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>Logs</servlet-name>
		<servlet-class>edu.uchicago.WANio.LogsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostResumming</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostResummingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostResumming1h</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostResummingServlet1h</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostResumming3h</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostResummingServlet3h</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostResumming6h</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostResummingServlet6h</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostResumming12h</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostResummingServlet12h</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostResumming24h</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostResummingServlet24h</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WANcostDelete</servlet-name>
		<servlet-class>edu.uchicago.WANio.WANcostDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyFromAGIS</servlet-name>
		<servlet-class>edu.uchicago.WANio.CopyFromAGISServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyFailover</servlet-name>
		<servlet-class>edu.uchicago.WANio.CopyFailover</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyOverflow</servlet-name>
		<servlet-class>edu.uchicago.WANio.CopyOverflow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AGISrepeater</servlet-name>
		<servlet-class>edu.uchicago.WANio.AGISrepeater</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SSBrepeater</servlet-name>
		<servlet-class>edu.uchicago.WANio.SSBrepeater</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forR</servlet-name>
		<url-pattern>/forR</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANio</servlet-name>
		<url-pattern>/wanio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcost</servlet-name>
		<url-pattern>/wancost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logs</servlet-name>
		<url-pattern>/logs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostResumming</servlet-name>
		<url-pattern>/wancostresumming</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostResumming1h</servlet-name>
		<url-pattern>/wancostresumming1h</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostResumming3h</servlet-name>
		<url-pattern>/wancostresumming3h</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostResumming6h</servlet-name>
		<url-pattern>/wancostresumming6h</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostResumming12h</servlet-name>
		<url-pattern>/wancostresumming12h</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostResumming24h</servlet-name>
		<url-pattern>/wancostresumming24h</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WANcostDelete</servlet-name>
		<url-pattern>/wancostdelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyFromAGIS</servlet-name>
		<url-pattern>/UpdateFromAGIS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyFailover</servlet-name>
		<url-pattern>/UpdateFailover</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyOverflow</servlet-name>
		<url-pattern>/CopyOverflow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AGISrepeater</servlet-name>
		<url-pattern>/agis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SSBrepeater</servlet-name>
		<url-pattern>/ssb</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!-- <welcome-file>index.html</welcome-file> -->
		<welcome-file>FSB.jsp</welcome-file>
	</welcome-file-list>
</web-app>
